# Ignore all data except demo.db
data/*
!data/demo.db

# Python cache
__pycache__
*.pyc

# Git
.git
.gitignore

# Local environments
venv/
.env/
.env.*

# Other files you don't want in Docker context
.vscode/
.idea/
dist/
build/
coverage/
