# Ignore entire data directory
data/*

# Allow only demo.db inside data/
!data/demo.db

# Python cache
__pycache__/
*.pyc

# venv
venv/
.env/
.env.*

# IDE
.vscode/
.idea/

# Build outputs
dist/
build/
coverage/
