apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy          # Grafana will proxy queries
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      httpMethod: GET      # Use GET for Prometheus
